#navbar {
  background-color: #79929C;
  color: white;
  padding: 10px;
}

/* Navigation Menu */
.menu-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  display: none;
  align-items: center;
}

#navbar .main-menu ul {
  list-style-type: none;
  padding: 0;
  margin-left: auto;
}

#navbar .main-menu a {
  color: white;
  text-decoration: none;
  /* background: #000; */
}

#navbar .main-menu span {
  position: absolute;
  top: 0;
  right: -32px;
  height: 25px;
  width: 1px;
  background-color: rgb(255, 255, 255);
}

/* Sidebar Area [Mobile Device] */
.sidebar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #79929C;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #222;
  position: absolute;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 1;
}

.sidebar ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.close-icon {
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.sidebar.visible {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  border: thin solid #b6b6b652;
  margin: 5px 0;
  height: 35px;
  width: 120px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #69696985;
}

.sidebar a {
  color: white;
}

/* Responsive Area */

@media (max-width: 767px) {
  #navbar {
    display: flex;
    justify-content: flex-end;
  }
  .menu-icon {
    display: block;
  }

  .main-menu {
    display: none;
  }
}

@media (max-width: 450px) {
  .sidebar {
    width: 100%;
    left: -100%;
  }
}

@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1285px) {
  #navbar .main-menu span {
    display: none;
  }
}
