* {
  font-family: "Hind Siliguri", sans-serif;
}

#blankMap {
  position: absolute;
  width: 100%;
  background-repeat: repeat;
  z-index: -1;
  background-image: url("../public/assets/blankMap.png");
  background-size: 174px 241px;
}